h1 {
  background-color: #30B1BF;
  font-family: tajawal;
}
h1 {
  background-color: #30B1BF;
  font-family: tajawal;
  color: #3D3D3D;
  text-align: center;
  font-size: 5rem;
}
.material-icons {
  color: red;
  font-size: 100px;
}
.firstNav {
  margin-left: 75rem;
  padding: 5px;
}
.firstNav nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.firstNav nav a {
  text-decoration: none;
}
.whitetext {
  color: white;
  font-size: 2rem;
}
.topNavigation {
  width: 800px;
  margin: 50px auto;
}
.topNavigation nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.topNavigation nav a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.topNavigation nav a:hover {
  color: #8a8a8a;
}
body {
  widows: 100vw;
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1497581170673-3d7d98e9a075?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjcyMDE3fQ&q=85&fmt=jpg&crop=entropy&cs=tinysrgb&w=450');
  background-repeat: no-repeat;
  background-size: 1300px 900px;
}
.description {
  margin-top: 655px;
  color: #3D3D3D;
  background-color: white;
  padding: 0px;
  font-size: 20px;
  margin-bottom: 100px;
}
.description h2 {
  font-size: 35px;
  font-family: tajawal;
  text-align: center;
}
.bottomNav {
  text-align: center;
}
.bottomNav a {
  text-decoration: none;
  border: 2px solid red;
  background: white;
}
html {
  scroll-behavior: smooth;
}
